.root {
  @apply inline-flex items-center justify-center gap-2;
  @apply whitespace-nowrap rounded-md text-sm font-medium transition-all outline-none;
  @apply disabled:pointer-events-none disabled:opacity-50;
  @apply focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px];
  /* @apply aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive; */
  @apply [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0;
}

.contained {
  @apply bg-primary text-primary-foreground;
  @apply hover:bg-primary/90;
}

.outlined {
  @apply border border-border bg-background shadow-xs hover:bg-accent hover:text-accent-foreground;
  @apply dark:bg-input/30 dark:border-input dark:hover:bg-input/50;
}

.tonal {
  @apply bg-secondary text-secondary-foreground;
  @apply hover:bg-secondary/80;
}

.soft {
  @apply hover:bg-accent hover:text-accent-foreground;
  @apply dark:hover:bg-accent/50;
}

.link {
  @apply text-primary underline-offset-4 hover:underline;
}
