/* @import "tw-animate-css"; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-sans: "Chivo", system-ui, sans-serif;
  --font-family-mono: "Chivo Mono", monospace;

  --radius: 0.625rem;
}

[data-theme="light"] {
  --background: 255 255 255;
  --foreground: 9 9 11;
  --card: 255 255 255;
  --card-foreground: 9 9 11;
  --popover: 255 255 255;
  --popover-foreground: 9 9 11;
  --primary: 236 0 63;
  --primary-foreground: 255 241 242;
  --secondary: 244 244 245;
  --secondary-foreground: 24 24 27;
  --muted: 244 244 245;
  --muted-foreground: 113 113 123;
  --accent: 244 244 245;
  --accent-foreground: 24 24 27;
  --destructive: 231 0 11;
  --border: 228 228 231;
  --input: 228 228 231;
  --ring: 255 99 126;
  --chart-1: 255 161 173;
  --chart-2: 255 32 86;
  --chart-3: 236 0 63;
  --chart-4: 199 0 54;
  --chart-5: 165 0 54;
  --sidebar: 250 250 250;
  --sidebar-foreground: 9 9 11;
  --sidebar-primary: 236 0 63;
  --sidebar-primary-foreground: 255 241 242;
  --sidebar-accent: 244 244 245;
  --sidebar-accent-foreground: 24 24 27;
  --sidebar-border: 228 228 231;
  --sidebar-ring: 255 99 126;
}

[data-theme="dark"] {
  --background: 9 9 11;
  --foreground: 250 250 250;
  --card: 24 24 27;
  --card-foreground: 250 250 250;
  --popover: 24 24 27;
  --popover-foreground: 250 250 250;
  --primary: 255 32 86;
  --primary-foreground: 255 241 242;
  --secondary: 39 39 42;
  --secondary-foreground: 250 250 250;
  --muted: 39 39 42;
  --muted-foreground: 159 159 169;
  --accent: 39 39 42;
  --accent-foreground: 250 250 250;
  --destructive: 255 100 103;
  --border: 255 255 255 / 10%;
  --input: 255 255 255 / 15%;
  --ring: 139 8 54;
  --chart-1: 255 161 173;
  --chart-2: 255 32 86;
  --chart-3: 236 0 63;
  --chart-4: 199 0 54;
  --chart-5: 165 0 54;
  --sidebar: 24 24 27;
  --sidebar-foreground: 250 250 250;
  --sidebar-primary: 255 32 86;
  --sidebar-primary-foreground: 255 241 242;
  --sidebar-accent: 39 39 42;
  --sidebar-accent-foreground: 250 250 250;
  --sidebar-border: 255 255 255 / 10%;
  --sidebar-ring: 139 8 54;
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
} */
