@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../chivo/Chivo-Normal-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../chivo/Chivo-Italic-VariableFont_wght.ttf") format("truetype");
}
