@font-face {
  font-family: "Chivo Mono";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../chivo-mono/ChivoMono-Normal-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Chivo Mono";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../chivo-mono/ChivoMono-Italic-VariableFont_wght.ttf")
    format("truetype");
}
