@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../roboto-condensed/RobotoCondensed-Normal-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("../roboto-condensed/RobotoCondensed-Italic-VariableFont_wght.ttf")
    format("truetype");
}
